{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block body %}
    <div class="shadow p-3 mb-5 bg-white rounded">
        {% for mainComment in mainComments %}
            <div class="commentBox">
                <div class="float-left"><img class="profilePicture" src="{{ mainComment.profile_picture }}"></div>
                <div>{{ mainComment.first_name }} {{ mainComment.last_name }}
                    <small class="text-secondary createdAt">Created at {{ mainComment.created_at|date('Y-m-d H:i') }}</small>
                    {% if mainComment.edited_at != NULL %}
                    <small class="text-secondary float-right">Edited at {{ mainComment.edited_at|date('Y-m-d H:i') }}</small>
                    {% endif %}
                </div>
                <div>
                    {{ mainComment.text }}
                </div>
                <div id="nestedComments-{{ mainComment.id }}" hidden>
                    {% set nestedCommentCount = 0 %}
                    {% for nestedComment in nestedComments %}
                        {% if nestedComment.nested_comment_id == mainComment.id %}
                            {% set nestedCommentCount = nestedCommentCount + 1 %}
                            <div class="commentBox nested">
                                <div class="float-left"><img class="profilePicture" src="{{ nestedComment.profile_picture }}">
                                </div>
                                <div>{{ nestedComment.first_name }} {{ nestedComment.last_name }}
                                    <small class="text-secondary createdAt">Created at {{ nestedComment.created_at|date('Y-m-d H:i') }}</small>
                                    {% if nestedComment.edited_at != NULL %}
                                        <small class="text-secondary float-right">Edited at {{ nestedComment.edited_at|date('Y-m-d H:i') }}</small>
                                    {% endif %}
                                </div>
                                <div>
                                    {{ nestedComment.text }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div>
                    <a href="javascript:void(0)" class="text-primary commentsToggler" data-mainComment="{{ mainComment.id }}" id="commentsToggler-{{ mainComment.id }}">Replies {{ nestedCommentCount }}</a>
                </div>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {{ include('comment/nestedCommentForm.html.twig') }}
                {% endif %}
            </div>
            <div class="dropdown-divider"></div>
        {% endfor %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% include('comment/mainCommentForm.html.twig') %}
        {% endif %}
    </div>
{% endblock %}
