{{ form_start(nestedCommentForm, {'attr': {'id': 'nested-comment-form'}}) }}
        {{ form_row(nestedCommentForm.userId, {'attr': {'value': app.token.user.id }}) }}
        {{ form_row(nestedCommentForm.nestedCommentId, {'attr': {'value': mainComment.id }}) }}
        {{ form_row(nestedCommentForm.text, {'attr': {'class': 'form-control no-border', 'placeholder': 'Comment a comment' }}) }}
        <div class="dropdown-divider"></div>
        {{ form_row(nestedCommentForm.submit, {'attr': {'class': 'btn btn-success btn-sm'}, 'label': 'Post'}) }}
{{ form_end(nestedCommentForm) }}